<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /codeline/laravel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule storage/images/(.*)$ storage/app/images/$1 [L]
</IfModule>